*,
*::before,
*::after
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
@font-face
{
  font-family: PopLight;
  src: url('./fonts/Poppins-Light.ttf')
}
@font-face
{
  font-family: PopReg;
  src: url('./fonts/Poppins-Regular.ttf')
}
@font-face
{
  font-family: PopBold;
  src: url('./fonts/Poppins-Bold.ttf')
}

body
{
  font-family: PopLight ;
}

.portfolio
{
  color: white;
  background: #2C343B;
}

nav
{
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.logo
{
  font-size:40px;
}

.page
{
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5%
}
